.display{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.display-image{
    border: 1px dotted;
    height: 80%;
    width: 80%;
}

.display-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}