.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
    margin: 0px 50px;
}

hr{
    width: 70%;
    height: 2px;
}

.line{
    margin: 50px 0 0 0;
    height: 2px;
    display: flex;
    justify-content: center;
}

.fotter-head{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 40vh;
}
.fotter-head-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.footer-icon-left{
    width: 100%;
}
.footer-icon-right{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}