* {
    margin: 0;
    padding: 0;
}

/* https://colorhunt.co/palette/15133c73777bec994bf1eee9 */

model-viewer {
    
    
    height: 600px;
    background-color: white;
}

.top_bar {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: var(--space-lg);
    margin: 10px;
    
}

.left_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.right_bar {
    
    width: 50%;
}

.left-bar-head-span {
    font-size: 80px;
    color: #15133C;
}

.left-bar-head h4 {
    font-size: 20px;
    color: #EC994B;
}

.word_wrap {
    width: 600px;

}

.canvas_h canvas {
    height: 90vh !important;
    align-items: center;
}

@media (max-width: 1280px) {
    .right_bar {
        min-width: 100vh;
    }
}