* {
    margin: 0;
    padding: 0;
}

/* https://colorhunt.co/palette/15133c73777bec994bf1eee9 */

model-viewer {
    height: 600px;
    background-color: white;
}



.right_bar {
    width: 50%;
}

.left-bar-head-span {
    font-size: 80px;
    color: #15133C;
}

.left-bar-head h4 {
    font-size: 20px;
    color: #EC994B;
}

.word_wrap {
    width: 600px;
}

.canvas_h canvas {
    height: 90vh !important;
    align-items: center;
}

@media (max-width: 1280px) {
    .right_bar {
        min-width: 100vh;
    }
}
@media (max-width: 680px) {
    .right_bar {
        min-width: 50vh;
    }
    
}